%center
  .home
    %div{:style=>"margin-top: 20px;"}
      %div.pull-left{:style=>"text-align: left; width: 370px;"}
        %div.title Bác sĩ CKI
        %div.content Nguyễn Cảnh Sơn 
        %div.title Chuyên Khoa
        %div.content Sản Khoa
        %div.title Công tác
        %div.content BV.Tỉnh Bà Rịa-Vũng Tàu
        %div.title Phòng Khám
        %div.content 156 Nguyễn Thanh Đằng, phường Phước Hiệp, Tp Bà Rịa, Bà Rịa-Vũng Tàu
      %div.span4.pull-right
        = image_tag("hoa.jpg")