// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-font: #E17C25;
body {
  background-image: url('../assets/background.jpg');
  background-repeat: repeat-x;
  .container {
    height: 600px;
  }
}
ul.operations
{
	float:left;
	list-style-image:url('sq_blue.gif') !important;
	text-align: left;
  list-style-position: inside;


}
.font-title {
  color: $color-font;
}
  

